# Dwarf
> Insanely fast XML miner

## Importing

In [1]:
from xdwarf import Dwarf
from xdwarf import Treasure

In [2]:
dwarf = Dwarf.from_glob("../test/data/*.xml", "PMC",-2)

## Test data

In [6]:
!du -sh ../test/data/

 31M	../test/data/

In [7]:
!ls -l ../test/data/|wc -l

     509

In [4]:
dwarf

PMC
Dwarf: PMC, []

## Define query rule

In [8]:
dwarf.find_one('article-meta > article-id[pub-id-type=pmid]' , "pmid")
dwarf.find_one("abstract", "abstract").find_many("p", "paragraph")
reference = dwarf.find_one("ref-list", "ref_list").find_many("ref","reference")
reference.find_one("pub-id[pub-id-type=pmid]", "ref_id")
reference.find_one("pub-id[pub-id-type=doi]", "doi")
ref_name = reference.find_many("name", "ref_name")
ref_name.find_one("surname", "ref_surname")

Dwarf Field <ref_surname>

In [9]:
dwarf.set_necessary("pmid")
dwarf.create_children()

Tree structure mining schema

In [10]:
dwarf

PMC
Dwarf: PMC, ["pmid", "abstract", "ref_list"]
Field[pmid]⛏on <article-meta>,required:true,is_all:false
Field[abstract]⛏on <abstract>,required:false,is_all:false
	Field[paragraph]⛏on <p>,required:false,is_all:true
Field[ref_list]⛏on <ref-list>,required:false,is_all:false
	Field[reference]⛏on <ref>,required:false,is_all:true
		Field[ref_id]⛏on <pub-id>,required:false,is_all:false
		Field[doi]⛏on <pub-id>,required:false,is_all:false
		Field[ref_name]⛏on <name>,required:false,is_all:true
			Field[ref_surname]⛏on <surname>,required:false,is_all:false

## Mining

In [11]:
%%time
result = dwarf()

CPU times: user 363 ms, sys: 120 ms, total: 484 ms
Wall time: 83.8 ms

## Result is Dataframe in tree structure

In [15]:
result.child_df().head()

   p_idx             DWARF MINED ROOT      pmid   abstract   ref_list
0      0  ../test/data/PMC4242289.xml  25422592  abstract:  ref_list:
1      1  ../test/data/PMC4242291.xml  25422594  abstract:  ref_list:
2      2  ../test/data/PMC4242290.xml  25422593  abstract:  ref_list:
3      3  ../test/data/PMC4242288.xml  25422595  abstract:  ref_list:
4      4  ../test/data/PMC4242441.xml  25325755  abstract:  ref_list:

Result in tree structure

In [18]:
result['ref_list'].child_df().head()

   p_idx   ref_list                                          reference
0      0  ref_list:  [reference:, reference:, reference:, reference...
1      1  ref_list:  [reference:, reference:, reference:, reference...
2      2  ref_list:  [reference:, reference:, reference:, reference...
3      3  ref_list:  [reference:, reference:, reference:, reference...
4      4  ref_list:                                       [reference:]

In [20]:
result['ref_list']['reference'].child_df().head()

,p_idx,reference,ref_id,doi,ref_name
0,0,reference:,None,10.1038/nrendo.2012.100,"[ref_name:, ref_name:]"
1,0,reference:,None,10.1093/rheumatology/ker215,"[ref_name:, ref_name:, ref_name:]"
2,0,reference:,None,10.1016/j.tem.2008.07.009,"[ref_name:, ref_name:]"
3,0,reference:,None,10.1016/j.mce.2013.01.026,"[ref_name:, ref_name:]"
4,0,reference:,None,10.1016/j.molcel.2008.08.001,"[ref_name:, ref_name:, ref_name:, ref_name:, r..."

In [14]:
result['ref_list']['reference'].child_df().head()

,p_idx,reference,ref_id,doi,ref_name
0,0,reference:,None,10.1038/nrendo.2012.100,"[ref_name:, ref_name:]"
1,0,reference:,None,10.1093/rheumatology/ker215,"[ref_name:, ref_name:, ref_name:]"
2,0,reference:,None,10.1016/j.tem.2008.07.009,"[ref_name:, ref_name:]"
3,0,reference:,None,10.1016/j.mce.2013.01.026,"[ref_name:, ref_name:]"
4,0,reference:,None,10.1016/j.molcel.2008.08.001,"[ref_name:, ref_name:, ref_name:, ref_name:, r..."